@import "./variables";
@import "./mixin";
@import "./base";

header {
  background: $color-white-1;
  box-shadow: 0 2px 4px $color-white-2;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      text-decoration: none;
      margin-right: 15px;
      color: $color-blue-2;
      transition: 0.3s;
      position: relative;
      &:hover {
        color: $color-blue-1;
      }
      &::before {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 50%;
        transform: translateX(-50%);
        width: 0px;
        height: 2px;
        background: $color-blue-1;
        transition: 0.3s;
      }
      &:hover::before {
        width: 100%;
      }
    }
    .logo {
      color: $color-blue-1;
    }
  }
}
.banner {
  background-image: url(../../image/product-header-bg.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  .infor {
    h2 {
      color: $color-blue-1;
    }
    h3 {
      color: $color-blue-2;
    }

    .btn-infor {
      border: 2px solid $color-blue-1;
      color: $color-blue-1;
      @include btn-theme(15px);
    }
    .btn-shop {
      margin-left: 10px;
      background: linear-gradient(120deg, $color-blue-3, $color-blue-1);
      color: $color-white-3;
      @include btn-theme(17px);
    }
  }
}
.products {
  background: $color-white-1;
  padding: 80px 0px;
  h2.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: $color-blue-2;
    margin-bottom: 50px;
  }
  .list {
    .item {
      @include shadow-theme(6);
      border-radius: 8px;
      padding: 30px;
      .wrapper {
        img {
          @include shadow-theme(6);
          border-radius: 8px;
        }
        .desc {
          padding-top: 30px;
          display: flex;
          justify-content: space-between;
          .price {
            text-align: right;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            button {
              @include shadow-theme(2);
              border-radius: 4px;
              padding: 5px 15px;
              font-size: 12px;
              color: $color-blue-1;
            }
          }
        }
      }
    }
  }
}

// atomic css

@include responsive-theme(MD) {
  .products {
    h2.title {
      font-size: 30px;
    }
  }
}

@include responsive-theme(LG) {
  .products {
    h2.title {
      font-size: 40px;
    }
  }
}
@include responsive-theme(XL) {
  .products {
    h2.title {
      font-size: 50px;
    }
  }
}
